.user-profile {
  display: flex;
}

.user-profile__avatar {

}

.user-profile__info {
  flex-grow: 1;
  text-align: end;
}

.user-profile__login {
  font-size: 36px;
}

.user-profile__borrowed-copies {
  margin-top: 32px;
}