.librarian-page {
}

.librarian-page__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--color);
  padding: 8px 16px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-bottom: none;
  z-index: 2;
}
.librarian-page__link + .librarian-page__link {
  left: -2px;
}
.librarian-page__link:not(.librarian-page__link_active) {
  background-color: var(--border-color);
}

.librarian-page__content {
  position: relative;
  top: -2px;
  padding: 16px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  z-index: 1;
}
