.books-page__book-search {
  margin: 0 auto 24px;
  padding: 24px;
  column-gap: 8px;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
}

.books-page__book + .books-page__book {
  margin-top: 24px;
}
